- content_for :title, "Data Coverage"
= render partial: "shared/stats_styles"
.admin-dashboard-section
    = render partial: "shared/stats_coverage_heatmap", locals: { heatmaps: build_coverage_heatmaps, heading_tag: "h1" }
    = render partial: "shared/stats_methodology"
