- if page.current?
  li.page-item.active
    = content_tag :span, page, class: 'page-link', 'aria-current': 'page'
- else
  li.page-item
    = link_to page, url, remote: remote, rel: page.rel, class: 'page-link'
